 <a routerLinkActive="bg-white/15" routerLink="/home" class=" flex my-5 items-center gap-3 p-2 rounded-lg hover:bg-white/15 transition">
        🏠 <span>Home</span>
      </a>
      <a routerLinkActive="bg-white/15" routerLink="/cart" class=" flex my-5 items-center gap-3 p-2 rounded-lg hover:bg-white/15 transition">
        🛒 <span>Cart</span>
      </a>
      <a routerLinkActive="bg-white/15" routerLink="/orders" class=" flex my-5 items-center gap-3 p-2 rounded-lg hover:bg-white/15 transition">
        ⏳ <span>Pending Orders</span>
      </a>
      <a routerLinkActive="bg-white/15" routerLink="/deleteorder" class=" flex my-5 items-center gap-3 p-2 rounded-lg hover:bg-white/15 transition">
        ✅ <span>Completed Orders</span>
      </a>
      <a routerLinkActive="bg-white/15" routerLink="/Expenses" class=" flex my-5 items-center gap-3 p-2 rounded-lg hover:bg-white/15 transition">
        🧾 <span>Expenses</span>
      </a>
      <a routerLinkActive="bg-white/15" routerLink="/addproduct" class=" flex my-5 items-center gap-3 p-2 rounded-lg hover:bg-white/15 transition">
        ➕ <span>Add Product</span>
      </a>
      <a routerLinkActive="bg-white/15" routerLink="/categorise" class=" flex my-5 items-center gap-3 p-2 rounded-lg hover:bg-white/15 transition">
        🗂️ <span>Filtering</span>
      </a>
      <a routerLinkActive="bg-white/15" routerLink="/dashbord" class=" flex my-5 items-center gap-3 p-2 rounded-lg hover:bg-white/15 transition">
        📊 <span>Dashboard</span>
      </a>
