
<!-- زرار Toggle ثابت فوق -->
<button  
  (click)="navbarService.toggle()" 
  class="fixed hidden lg:flex items-center justify-center top-4 z-50 w-9 h-9 bg-black text-white rounded-full shadow-lg  hover:scale-125 transition-all duration-500 ease-in-out "
  [class.left-[230px]]="isNavbarVisible"
  [class.left-2]="!isNavbarVisible">
  ☰
</button>


<div class=" relative bg-mainColor">

  <!-- Navbar (Sidebar) -->
  <app-navbar  [ngClass]="{'translate-x-0 opacity-100': isNavbarVisible, '-translate-x-24 opacity-0': !isNavbarVisible }" class="transition-all duration-500 ease-in-out">
  </app-navbar>

  <!-- Main Content -->
  <div  class="flex-1  py-20 lg:py-10 transition-all duration-500"
    [class.lg:ml-60]="isNavbarVisible"
    [class.lg:ml-0]="!isNavbarVisible">
  
    <router-outlet></router-outlet>
  </div>

</div>



