
<div class="min-h-screen relative  px-6">
  <h1 class="text-3xl font-bold text-center mb-8 text-color3"> منتجاتك الحالية</h1>
  <!-- if no products  -->
  @if (!products() || products().length === 0) {
    <div class="text-center text-gray-500 text-lg">
      مفيش منتجات مضافة لسه 😅
    </div>
  } @else {
      <app-table  [columns]="productColumns" [rows]="mappedProducts()" [actions]="tableActions"></app-table>
         }

  @if (toggleForm()) {
  <div class="bg-white absolute top-5 left-5 right-5 w-[90%] mx-auto  shadow-xl rounded-2xl  p-8 animate-[fadeInUp_1.5s_ease-out]">
  <h2 class="text-3xl font-bold text-center text-[#4A70A9] mb-6 animate-[fadeIn_2s_ease-out]">
  ✨  تعديل منتج
  </h2>

  <!-- form edit product -->
  <form [formGroup]="editForm" (ngSubmit)="saveEdit()" class="space-y-5 animate-[fadeIn_2s_ease-out]" >
   <!-- name & brand -->
  <div class="flex justify-between items-center gap-6">
      <!-- name -->
    <div class=" w-full">
      <label class=" text-gray-700 font-medium mb-2">اسم المنتج</label>
      <input type="text" formControlName="name" placeholder="مثلاً: كريم ترطيب" class="border border-gray-300 rounded-xl px-4 py-2 w-full focus:outline-none focus:ring-2 focus:ring-purple-400 transition-all duration-300" />
    </div>

    <!-- brand -->
    <div class=" w-full">
      <label class=" text-gray-700 font-medium mb-2">الماركة</label>
      <input type="text" formControlName="brand" placeholder="مثلاً: CeraVe أو The Ordinary" class="border border-gray-300 rounded-xl px-4 py-2 w-full focus:outline-none focus:ring-2 focus:ring-purple-400 transition-all duration-300"/>
    </div>
  </div>

  <!-- Cost & price -->
  <div class="flex justify-between items-center gap-6">
    <!--  Cost -->
    <div class=" w-full">
      <label class=" text-gray-700 font-medium mb-2">سعر الشراء </label>
      <input type="number" formControlName="Cost" placeholder="جنيه مصري" class="border border-gray-300 rounded-xl px-4 py-2 w-full focus:outline-none focus:ring-2 focus:ring-purple-400 transition-all duration-300"/>
    </div>
    <!-- price -->
    <div class=" w-full">
      <label class=" text-gray-700 font-medium mb-2">سعر البيع </label>
      <input type="number" formControlName="price" placeholder="جنيه مصري" class="border border-gray-300 rounded-xl px-4 py-2 w-full focus:outline-none focus:ring-2 focus:ring-purple-400 transition-all duration-300"/>
    </div>
  </div>
  <!-- quantity & category -->
  <div class="flex justify-between items-center gap-6">
       <!-- quantity -->
    <div class=" w-full">
      <label class=" text-gray-700 font-medium mb-2">الكمية المتاحة</label>
      <input type="number" formControlName="quantity" placeholder="0" class="border border-gray-300 rounded-xl px-4 py-2 w-full focus:outline-none focus:ring-2 focus:ring-purple-400 transition-all duration-300"/>
    </div>
        <!-- category -->
    <div class=" w-full">
      <label class="block text-gray-700 font-medium mb-2">الفئة</label>
      <select formControlName="category" class="border border-gray-300 rounded-xl px-4 py-2 w-full focus:outline-none focus:ring-2 focus:ring-purple-400 transition-all duration-300" >
        <option value="" disabled selected>اختر الفئة</option>
        @for (cat of categories(); track $index) { <option value="{{cat}}">{{cat}}</option> }
       
      </select>
    </div>
  </div>



 <!-- expiryDate & lowStockThreshold -->
<div class="flex justify-between items-center gap-6">
       
      <!-- expiryDate-->
      <div class=" w-full">
      <label class=" text-gray-700 font-medium mb-2">تاريخ الصلاحية</label>
      <input  type="date" id="expiryDate" formControlName="expiryDate" class="w-full border border-gray-300 rounded-lg px-3 py-2 focus:ring-2 focus:ring-rose-300 outline-none"/>

    </div>

    <!-- lowStockThreshold -->
    <div class=" w-full">
      <label class=" text-gray-700 font-medium mb-2">حد الكمية للتنبيه</label>
      <input type="number" formControlName="lowStockThreshold" placeholder="مثلاً: 5" class="border border-gray-300 rounded-xl px-4 py-2 w-full focus:outline-none focus:ring-2 focus:ring-purple-400 transition-all duration-300" />
    </div>
</div>

    <!-- description -->
    <div>
      <label class="block text-gray-700 font-medium mb-2">الوصف أو الملاحظات</label>
      <textarea rows="3" formControlName="description" placeholder="مثلاً: مناسب للبشرة الحساسة، يُستخدم صباحًا ومساءً..." class="border border-gray-300 rounded-xl px-4 py-2 w-full resize-none focus:outline-none focus:ring-2 focus:ring-purple-400 transition-all duration-300" ></textarea>
    </div>

 

    <div class="flex gap-2 mt-2">
      <button type="submit" (click)="saveEdit()" class="bg-green-500 text-white px-3 py-1 rounded">حفظ</button>
      <button type="button" (click)="cancelEdit()" class="bg-red-500 text-white px-3 py-1 rounded">إلغاء</button>
    </div>
  </form>
</div>
  }
</div>











