<div class=" min-h-screen  px-6">
  <div class="max-w-3xl mx-auto bg-white shadow-xl rounded-2xl p-8">
    <h1 class="text-3xl font-bold text-center mb-8 text-[#4A70A9] flex items-center justify-center gap-2">
      <i class="fa-solid fa-filter text-2xl"></i>
      Filter Products 
      </h1>
    <!-- ✅ اختيار الفئة -->
    <div class="flex flex-col md:flex-row gap-4 mb-6 items-center justify-center">
      <select
        [(ngModel)]="selectedCatOrBrand"
        class="w-full md:w-1/2 border border-gray-300 rounded-lg py-2 px-4 focus:ring-2 focus:ring-rose-400 outline-none"
      >
        <option value="" disabled selected>اختر الفئة</option>
        @for (cat of categories(); track cat) {
          <option [value]="cat">{{ cat }}</option>
        }
        <option value="" disabled selected>اختر الشركة</option>
        @for (brand of brands(); track brand) {
          <option [value]="brand">{{ brand }}</option>
        }
      </select>

      <button  (click)="filterProducts(selectedCatOrBrand())"  [disabled]="!selectedCatOrBrand()"  class="bg-[#8FABD4] cursor-pointer hover:bg-[#4A70A9] text-white px-6 py-2 rounded-lg font-medium transition-all duration-300 disabled:opacity-50 disabled:cursor-not-allowed">
        عرض البحث
      </button>
    </div>

    <!-- ✅ عرض المنتجات -->
    @if (filteredProducts.length > 0) {
      <div class="grid md:grid-cols-2 gap-6 mt-6">
        @for (product of filteredProducts(); track product.id) {
          <div
            class="p-5 bg-white border border-gray-200 rounded-xl shadow hover:shadow-lg transition-all duration-300"
          >
            <h2 class="text-lg font-semibold text-gray-800 mb-2">
              {{ product.name }}
            </h2>
            <p class="text-sm text-gray-500 mb-1">
              <span class="font-medium">Category:</span> {{ product.category }}
            </p>
            <p class="text-sm text-gray-500 mb-1">
              <span class="font-medium">Brand:</span> {{ product.brand }}
            </p>
            <p class="text-sm text-gray-500 mb-1">
              <span class="font-medium">Price:</span> {{ product.price | currency:'EGP' }}
            </p>
            <p class="text-sm text-gray-500 mb-1">
              <span class="font-medium">Quantity:</span> {{ product.quantity }}
            </p>

            <div class="text-center py-2">
             <button (click)="addToCart(product)" class="bg-green-400 cursor-pointer text-white px-4 py-2 rounded-xl hover:bg-green-700 transition-colors duration-300" >
             Add To Cart </button>
            </div>
          </div>
        }
      </div>
    } @else if (selectedCatOrBrand()) {
      <p class="text-center text-gray-500 mt-10">
        لا يوجد منتجات في هذه الفئة 😔
      </p>
    }
  </div>
</div>



